// element-plus theme
:root {
  --primary: #377dff;
  --success: #67C23A;
  --warning: #E6A23C;
  --danger: #F56C6C;
  --info: #909399;
  --black: #000000;
  --white: #ffffff;
  --transparent: transparent;

  --text-primary: #303133;
  --text-regular: #606266;
  --text-secondary: #909399;
  --text-placeholder: #A8ABB2;
  --text-disabled: #C0C4CC;

  --border-darker: #CDD0D6;
  --border-dark: #D4D7DE;
  --border-base: #DCDFE6;
  --border-light: #E4E7ED;
  --border-lighter: #EBEEF5;
  --border-extra-light: #F2F6FC;

  --fill-darker: #E6E8EB;
  --fill-dark: #EBEDF0;
  --fill-base: #F0F2F5;
  --fill-light: #F5F7FA;
  --fill-lighter: #FAFAFA;
  --fill-extra-light: #FAFCFF;
  --fill-blank: #FFFFFF;

  --bg-page: #F2F3F5;
  --bg-base: #FFFFFF;
  --bg-overlay: #FFFFFF;

  --font-size-extra-large: 20px;
  --font-size-large: 18px;
  --font-size-medium: 16px;
  --font-size-base: 14px;
  --font-size-small: 13px;
  --font-size-extra-small: 12px;
}

html.dark {
  --text-primary: #E5EAF3;
  --text-regular: #CFD3DC;
  --text-secondary: #A3A6AD;
  --text-placeholder: #8D9095;
  --text-disabled: #6C6E72;

  --border-darker: #636466;
  --border-dark: #58585B;
  --border-base: #4C4D4F;
  --border-light: #414243;
  --border-lighter: #363637;
  --border-extra-light: #2B2B2C;

  --fill-darker: #424243;
  --fill-dark: #39393A;
  --fill-base: #303030;
  --fill-light: #262727;
  --fill-lighter: #1D1D1D;
  --fill-extra-light: #191919;
  --fill-blank: var(--transparent);

  --bg-page: #0A0A0A;
  --bg-base: #141414;
  --bg-overlay: #1D1E1F;
}